@charset "UTF-8";

p{
  color: #fff;
  line-height: 100px;
  background-color: #000;
  text-align: center;
  margin: 0;
}
/*reset already set up, this isn't neccasary atm
/*div, p, body, header, footer, section, article, nav{
  margin: 0;
  padding: 0;
}*/
img {
  border: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
a:link, a:visited {
  text-decoration: none;
  color:#313131;
}
a:hover, a:active {
  text-decoration: none;
  color: #666;
}
.hidden {
  display: none;
}
#topBar {
  background-color: #000;
  height: 20px;
}
#siteContainer {
  margin: 0 auto;
  width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
}
#mainHeader {
  margin-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
#logo {
  width: 308px;
  float: left;
}
#mainNav {
  width: 715px;
  float: right;
}
#Hero {
  height: 500px;
  margin-top: 0;
  overflow: hidden;
  border-bottom: solid 1px #000;
  padding-bottom: 40px;
}

#Hero p{
  line-height: 500px;
}
/*#promoText {
  float:left;
  width: 600px;
}*/
#HeroImg {
  width: 1024px;
  height: 500px;
}
#productInfo {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
  overflow: hidden;
  border-bottom: solid 1px #000;
  padding-bottom: 40px;
}

.productDesc1 {
  float: left;
  width: 200px;
}
.productDesc1 p {
  line-height: 250px
}
.productDesc2 {
  justify-content: center;
  width: 330px;
}
.productDesc2 p {
  line-height: 450px;
}
.productDescLast{
  float: right;
  width: 300px;
}
.productDescLast p {
  line-height: 177px;
}
#PromoLeft {
  display: inline-table;
  overflow: hidden;
  border-bottom: solid 1px #000;
}
/*#LeftPromo{
  display: grid inline-flex;
  grid-column: 1 /span 1
}*/
.PromoLeftTop {
  float: left;
  width: 475px;
  margin-bottom: 20px;
}
.PromoLeftTop p {
  line-height: 225px
}
.PromoLeftBtm {
  align-items: flex-end;
  margin-top: 40px;
  width: 475px;
}
.PromoLeftBtm p {
  line-height: 225px
}
.PromoRight {
  float: right;
  width: 475px;
}
.PromoRight p {
  line-height: 475px;
}
#mainFooter {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
#footerNav {
  float: left;
  width: 500px
}
#copyRight {
  float: right;
  width: 310px;
}

/*promotional or next page*/
