@charset "UTF-8";

p{
  color: #333333;
  line-height: 100px;
  background-color: #b3b3b3;
  text-align: center;
  margin: 0;
}
/*reset already set up, this isn't neccasary atm
/*div, p, body, header, footer, section, article, nav{
  margin: 0;
  padding: 0;
}*/
img {
  border: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
a:link, a:visited {
  text-decoration: none;
  color:#313131;
}
a:hover, a:active {
  text-decoration: none;
  color: #666;
}
.hidden {
  display: none;
}
.bottomBar {
  background-color: #999999;
  height: 20px;
}
#siteContainer {
  margin: 0 auto;
  width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
}
#mainHeader {
  margin-top: 10px;
  overflow: hidden;
}
#logo {
  width: 308px;
  float: left;
}
#logo p {
  line-height: 100px;
}
#mainNav {
  width: 715px;
  float: right;
}
#mainNav p{
  line-height: 100px
}
#Hero {
  height: 500px;
  margin-top: 0;
  overflow: hidden;
}

#Hero p{
  line-height: 500px;
}
/*#promoText {
  float:left;
  width: 600px;
}*/
#HeroImg {
  width: 1024px;
  height: 500px;
}
#productInfo {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 40px;
}
.productDesc1 {
  margin-left: 50px;
  width: 200px;
}
.productDesc1 p {
  line-height: 250px
}
.productDesc2 {
  justify-content: center;
  width: 330px;
  margin-left: 45px;
}
.productDesc2 p {
  line-height: 450px;
}
.productDescLast{
  float: right;
  width: 300px;
}
.productDescLast p {
  line-height: 177px;
}
#Promos {
  display: inline-table;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 20px;

}
/*#LeftPromo{
  display: grid inline-flex;
  grid-column: 1 /span 1
}*/
.PromoLeftTop {
  float: left;
  width: 475px;
}
.PromoLeftTop p {
  line-height: 230px
}
.PromoLeftBtm {
  float: left;
  width: 475px;
  margin-top: 20px;
}
.PromoLeftBtm p {
  line-height: 230px;
}
.PromoRight {
  float: right;
  width: 475px;
}
.PromoRight p {
  line-height: 475px;
}
#AboutSection {
  display:flex;
  justify-content: space-around;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 40px;
}
#AboutImg {
  float: right;
  width: 400px;
}
#AboutImg p {
  line-height: 400px;
}
#Article {
float: left;
width: 370px;

}
#Article p {
  line-height: 20px;
  color: #ffffff;
  text-align: left;
}
#Article p span {
  font-size: 2em;
  text-align: left;
}
#Ingredients {
  display:flex;
  justify-content: space-around;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 40px;
}
.Ingredient {
  width: 250px;
}
.Ingredient p {
  line-height: 250px;
}

#IngredText {
  display:flex;
  justify-content: space-around;
  margin-top: 5px;
  overflow: hidden;
  padding-bottom: 40px;
}
.IngredDesc {
  width: 250px;
}
.IngredDesc p {
  line-height: 50px;
}



#mainFooter {
  background-color: #000;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 320px;
  overflow: hidden;
}
#mainFooter p{
  line-height: 320px;
}
#footerNav {
  float: left;
  width: 710px
}

#copyRight {
  float: right;
  width: 310px;
}

/*promotional or next page*/
